.article-card {
  width: 30%;
  text-align: center;
  background-color: whitesmoke;
  margin: 10px;
}

.article-img {
  width: 100%;
  height: 30%;
}

.article-headline {
  font-size: 16px;
}

.article-description {
  font-size: 12px;
}

.article-link {
  background-color: #B56AF1;
  width: 100%;
  padding: 5px;
}

.article-link a {
  color: white;
  text-decoration: none;
}
