.article-card {
  width: 48%;
  text-align: center;
  background-color: whitesmoke;
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  height: 50%;
  padding: 12px;
}

.article-headline {
  font-size: 24px;
  margin-bottom: 16px;
}

.article-description {
  font-size: 14px;
}

.article-link {
  background-color: #B56AF1;
  width: 100%;
  padding: 5px;
}

.article-link a {
  color: white;
  text-decoration: none;
}
